<%- include("partials/header"); -%>
<section class="vh-80">
    <div>
        <div class="bg-light">
            <div class="container py-5">
                <div class="row h-60 align-items-center py-8">
                    <div class="col-lg-6">
                        <h1 class="display-3" color ="2B6FE7">About Us </h1>
                        
                        
                           <p class="lead text-muted mb-0"> <b><i>We at KIT-HEALTH ensure that every perosn lives a healthy lifestyle </i></b> </p>
                           <p class="lead text-muted" style><b><i> Our goal is to stand by every person in times of emergency </i></b> <a href="https://bootstrapious.com/snippets"
                                class="text-muted">
                                <u><b><i> and ensure that every person gets the best and highest quality medical service . </i></b></u></a>
                            </p>
                           




                        
                        
                       
                    </div>
                    <div class="col-lg-6 d-none d-lg-block"><img
                        src="https://img.lovepik.com/photo/50064/6803.jpg_wh300.jpg" alt="" class="img-fluid" />
                     </div>
                    <div >
                        <Body br ="https://static.vecteezy.com/system/resources/thumbnails/006/712/985/small/abstract-health-medical-science-healthcare-icon-digital-technology-science-concept-modern-innovation-treatment-medicine-on-hi-tech-future-blue-background-for-wallpaper-template-web-design-vector.jpg">

                        </Body>
                    </div>
                    
                    
            </div>
        </div>

        <div class="bg-white py-5">
            <div class="container py-5">
                <div class="row align-items-center mb-5">
                    <div class="col-lg-5 order-3 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                        <h2 class="font-weight-light"> Why us ? </h2>
                        <p class="font-italic text-muted mb-2"> <b><i>We at KIT-HEALTH offer one of the best services worldwide . We provide a 24 * 7 active network of doctors and emergency services. Additionally we also provide the customer the comfort of buying medicines from home with a large variety available .</i></b> </p><a href="#"
                            class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> </a>
                    </div>
                    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                            src="https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701451226-1200x645.jpg" alt=""
                            class="img-fluid mb-4 mb-lg-0" /></div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-5 px-5 mx-auto"><img
                            src="https://www.freepnglogos.com/uploads/medical-logo-png-13.jpg" alt=""
                            class="img-fluid mb-4 mb-lg-0" /></div>
                    <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                        <h2 class="font-weight-light"> Facilities we offer </h2>
                        <p class="font-italic text-muted mb-4"> <b><i>We have some of the best available doctors and latest technologies for conducting tests. Additionaaly we have delivery services  all around the country and ensure that the medicine is delivered within stipulated time .</i></b></p><a href="#"
                            class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light py-5">
            <div class="container py-5">
                <div class="row mb-4">
                    <div class="col-lg-5">
                        <h2 class="display-4 font-weight-light">Our team</h2>
                        <p class="font-italic text-muted"><b><i> A fantastic team working day and night to provide medical facilities all over world.</i></b> </p>
                    </div>
                </div>

                <div class="row text-center">

                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                src="https://ci3.googleusercontent.com/proxy/mjn78E9wb3AFck0oVDB-KriRnFXFGwBSF1xEVQcwjcNksIbjuYLmSVBYyDSy6bx0RHMo7RVY_fYfvIE_fYl9-2Wf2R5I3ldR6dK3K56O=s0-d-e1-ft#https://avatars.githubusercontent.com/u/113161406?s=120&v=4" alt="" width="100"
                                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                            <h5 class="mb-0">Supriyo Saha</h5><span class="small text-uppercase text-muted">CEO -
                                Founder</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                src="https://avatars.githubusercontent.com/u/113084209?v=4" alt="" width="100"
                                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                            <h5 class="mb-0">Swarnavo Mukherjee</h5><span class="small text-uppercase text-muted">CEO -
                                Founder</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                src="https://avatars.githubusercontent.com/u/113163315?v=4" alt="" width="100"
                                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                            <h5 class="mb-0">Raj Bhattacharya</h5><span class="small text-uppercase text-muted">CEO -
                                Founder</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                src="https://avatars.githubusercontent.com/u/89240074?v=4" alt="" width="100"
                                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                            <h5 class="mb-0">Mrinmoy Das</h5><span class="small text-uppercase text-muted">CEO -
                                Founder</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>

