<%- include("partials/header"); -%>

<div class="container-fluid px-1 py-5 mx-auto order">
  <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <h3>Book your Test</h3>
          <p class="blue-text"></p>
          <div class="card">
              <h5 class="text-center mb-4">Please fill up the acurate details</h5>
              <form class="form-card" onsubmit="event.preventDefault()">
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="Enter your first name" onblur="validate(1)"> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> <input type="text" id="lname" name="lname" placeholder="Enter your last name" onblur="validate(2)"> </div>
                  </div>
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="" onblur="validate(3)"> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mob" placeholder="" onblur="validate(4)"> </div>
                  </div>
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Pin code<span class="text-danger"> *</span></label> <input type="text" id="pin" name="pin" placeholder="" onblur="validate(5)"> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Your Birth-Date *</span><input type="date" id="birthday" name="birthday"> </div>
                  </div>
                 

                  <div class="row justify-content-between text-left">
                      <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">Full Adress<span class="text-danger"> *</span></label> <input type="text" id="ads" name="ads" placeholder="" onblur="validate(6)"> </div>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Test you want <span class="text-danger"> *</span></label>
                  <select
                          class="form-group col-12 flex-column d-flex"
                          
                        >
                          <option selected>Select the test you want</option>
      
                          <option value="1">Total blood test</option>
                          <option value="2">Liver function test</option>
                          <option value="3">Thyroid test</option>
                          <option value="4">Diabetese test</option>
                          <option value="5">Uria test</option>
                        </select>
                  
                  <div class="row justify-content-end">
                      <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary"><a role="button" href="/confirm" style="text-decoration: none; color:black">Submit</a></button> </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>