<%- include("partials/header"); -%>

<main>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">&emsp; &emsp; &emsp;Welcome to KIT-HEALTH <br><span class="text-muted">It is a one stop solution for all medical help</span></h2>
        <p class="lead"> We strive to stand behind every person during their emergency and make sure that they receive highest quality medical facilities from the comfort of their home. We at KIT-HEALTH believe that every person has the right to receive best  medical attention irespective of any differences</p>
      </div>
      <div class="col-md-5">
        <img src="https://i.pinimg.com/originals/b8/23/e3/b823e38cc01fdb9278b6f7faa2feda6d.gif" alt="" width="250" height="160">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading fw-normal lh-1">Why chose us ?</h3>
        <p class="lead">We have one of the fastest network of emergency services and 24 * 7 availability of doctors who are fully equiped to deal with any emergency situations . Moreover we have our own online  pharmaceutical store with a wide range of medicines available and one of the fastest delivery services. Additionally we also have online appointment facility where one can book an appointment with the doctor of his/her choice from comfort of their homes.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://www.bioagilytix.com/wp-content/uploads/2022/09/09.optimized.gif" alt="" width="250" height="150">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> The facilities which we offer to our users are :</h2>
        <ol>
              <li><b> We have the most updated equipments to run all kinds of tests and users can get their reports within minimal time </b></li>
              <li> <b>The health of our patients is our top priority so we always provide emergency services and an constantly active network for their convenience </b></li>
              <li><b> Our home delivery services and online pharmaceutical stores allow patients to buy the highest quality medicine within less time and at minimal cost </b></li>
              <li> <b>We provide online appointment facility for patients so that they are able to make an appointment with doctors of their choice and from comfort of their homes</b> </li>
            </ol>
      </div>
      <div class="col-md-5">
        <img src="https://i.pinimg.com/originals/61/b2/d3/61b2d33f39927afa72e5f57a28cc7c83.gif" alt="" width="250" height="165">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2023 &middot; <a href="/about">About Us</a> &middot; <a href="/contactus">Contact Us</a></p>
  </footer>
</main>   
  </body>
</html>
