<%- include("partials/header"); -%>
<section style="background-color: #eee;">
        <div class="text-center container py-5">
          <h4 class="mt-4 mb-5"><strong>Medicine Store</strong></h4>
      
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/BU/WY/LD/27643962/paracetamol-650-mg-tablet-500x500.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                        <h5><span class="badge bg-primary ms-2">New</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                  </a>
                </div>
                <div class="card-body">
                  <a href="" class="text-reset">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                  <a href="" class="text-reset">
                    <p>Buy Now</p>
                  </a>
                  <h6 class="mb-3">₹61.99</h6>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                        <h5><span class="badge bg-success ms-2">Eco</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                  </a>
                </div>
                <div class="card-body">
                  <a href="" class="text-reset">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                  <a href="" class="text-reset">
                    <p>Buy Now</p>
                  </a>
                  <h6 class="mb-3">₹61.99</h6>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                        <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                  </a>
                </div>
                <div class="card-body">
                  <a href="" class="text-reset">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                  <a href="" class="text-reset">
                    <p>Buy Now</p>
                  </a>
                  <h6 class="mb-3">
                    <s>₹61.99</s><strong class="ms-2 text-danger">₹50.99</strong>
                  </h6>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="https://www.drugs.com/images/pills/fio/SHR00340.JPG"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                        <h5>
                          <span class="badge bg-success ms-2">Eco</span><span
                            class="badge bg-danger ms-2">-10%</span>
                        </h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                  </a>
                </div>
                <div class="card-body">
                  <a href="" class="text-reset">
                    <h5 class="card-title mb-3">Paracetamol</h5>
                  </a>
                  <a href="" class="text-reset">
                    <p>Buy Now</p>
                  </a>
                  <h6 class="mb-3">
                    <s>₹61.99</s><strong class="ms-2 text-danger">₹50.99</strong>
                  </h6>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://www.drugs.com/images/pills/fio/SHR00340.JPG"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100"></div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                  </a>
                </div>
                <div class="card-body">
                  <a href="" class="text-reset">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                  <a href="" class="text-reset">
                    <p>Buy Now</p>
                  </a>
                  <h6 class="mb-3">₹61.99</h6>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="https://www.drugs.com/images/pills/fio/SHR00340.JPG"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                        <h5>
                          <span class="badge bg-primary ms-2">New</span><span
                            class="badge bg-success ms-2">Eco</span><span class="badge bg-danger ms-2">-10%</span>
                        </h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                  </a>
                </div>
                <div class="card-body">
                  <a href="" class="text-reset">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                  <a href="" class="text-reset">
                    <p>Buy Now</p>
                  </a>
                  <h6 class="mb-3">
                    <s>₹61.99</s><strong class="ms-2 text-danger">₹50.99</strong>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/BU/WY/LD/27643962/paracetamol-650-mg-tablet-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-primary ms-2">New</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">₹61.99</h6>
                    </div>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-success ms-2">Eco</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">₹61.99</h6>
                    </div>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">
                        <s>₹61.99</s><strong class="ms-2 text-danger">₹50.99</strong>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/BU/WY/LD/27643962/paracetamol-650-mg-tablet-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-primary ms-2">New</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">₹61.99</h6>
                    </div>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-success ms-2">Eco</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">₹61.99</h6>
                    </div>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">
                        <s>₹61.99</s><strong class="ms-2 text-danger">₹50.99</strong>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/BU/WY/LD/27643962/paracetamol-650-mg-tablet-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-primary ms-2">New</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">₹61.99</h6>
                    </div>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-success ms-2">Eco</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">₹61.99</h6>
                    </div>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">
                        <s>₹61.99</s><strong class="ms-2 text-danger">₹50.99</strong>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/BU/WY/LD/27643962/paracetamol-650-mg-tablet-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-primary ms-2">New</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">₹61.99</h6>
                    </div>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-success ms-2">Eco</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">₹61.99</h6>
                    </div>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DQ/UI/BH/145524760/diabetes-medication-500x500.jpg"
                        class="w-100" />
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <a href="" class="text-reset">
                        <p>Buy Now</p>
                      </a>
                      <h6 class="mb-3">
                        <s>₹61.99</s><strong class="ms-2 text-danger">₹50.99</strong>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </section>