<%- include("partials/header"); -%>
<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h2>Get Your Medicines Here</h2>
                                    <h3>Cheaper than usual</h3>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                    <div class="part-1">
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Paracetamol</h3>
                                            <h4 class="product-old-price">₹79.99</h4>
                                            <h4 class="product-price">₹49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-2" class="single-product">
                                    <div class="part-1">
                                            <span class="discount">15% off</span>
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Tetanus</h3>
                                            <h4 class="product-price">₹49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-3" class="single-product">
                                    <div class="part-1">
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Insulin</h3>
                                            <h4 class="product-old-price">₹79.99</h4>
                                            <h4 class="product-price">₹49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-4" class="single-product">
                                    <div class="part-1">
                                            <span class="new">new</span>
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Anti Rabies Injection</h3>
                                            <h4 class="product-price">₹49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-5" class="single-product">
                                    <div class="part-1">
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">₹79.99</h4>
                                            <h4 class="product-price">₹49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-6" class="single-product">
                                    <div class="part-1">
                                            <span class="discount">15% off</span>
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">₹49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-7" class="single-product">
                                    <div class="part-1">
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">₹79.99</h4>
                                            <h4 class="product-price">₹49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-8" class="single-product">
                                    <div class="part-1">
                                            <span class="new">new</span>
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">₹49.99</h4>
                                    </div>
                                                        <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-9" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Paracetamol</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-10" class="single-product">
                                <div class="part-1">
                                        <span class="discount">15% off</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Tetanus</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-11" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Insulin</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-12" class="single-product">
                                <div class="part-1">
                                        <span class="new">new</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Anti Rabies Injection</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-13" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-14" class="single-product">
                                <div class="part-1">
                                        <span class="discount">15% off</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-15" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-16" class="single-product">
                                <div class="part-1">
                                        <span class="new">new</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                                                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-17" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Paracetamol</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-18" class="single-product">
                                <div class="part-1">
                                        <span class="discount">15% off</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Tetanus</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-19" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Insulin</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-20" class="single-product">
                                <div class="part-1">
                                        <span class="new">new</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Anti Rabies Injection</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-21" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-22" class="single-product">
                                <div class="part-1">
                                        <span class="discount">15% off</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-23" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-8" class="single-product">
                                <div class="part-1">
                                        <span class="new">new</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                                                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Paracetamol</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-2" class="single-product">
                                <div class="part-1">
                                        <span class="discount">15% off</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Tetanus</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-3" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Insulin</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-4" class="single-product">
                                <div class="part-1">
                                        <span class="new">new</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Anti Rabies Injection</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-5" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-6" class="single-product">
                                <div class="part-1">
                                        <span class="discount">15% off</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-7" class="single-product">
                                <div class="part-1">
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-old-price">₹79.99</h4>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-8" class="single-product">
                                <div class="part-1">
                                        <span class="new">new</span>
                                        
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">Here Product Title</h3>
                                        <h4 class="product-price">₹49.99</h4>
                                </div>
                        
                            </div>
                    </div>
            </div>
    </div>
</section>