<%- include("partials/header"); -%>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Our Services</h2>
                    <p>Dscover our wide range of services which will protect you and your family always.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-medicine"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Order medicines</h5>
                        <p>Order medicines anyttime,anywhere and get the delivery within 15 mins or less.</p>
                    </div>
                    <a href="/order" style="text-decoration: none; color:black">Order now</a>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-injection"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Book a test</h5>
                        <p>Book any medical test from your home. The samples will be collected from your home and the results within 1 day.</p>
                    </div>
                    <a href="/bookTest" style="text-decoration: none; color:black">Book Now</a>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-doctor"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Book an Appoinment</h5>
                        <p>Book an appoinment for a Doctor available near you. Any time 24x7.</p>
                    </div>
                    <a href="/bookApp" style="text-decoration: none; color:black">Book now</a>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-life"></i>
                    </div>
                    <div class="feature-content">
                        <h5>KIT-PROTECT</h5>
                        <p>Secure your health and your life alongwith your loved ones and go protect.</p>
                    </div>
                    <a href="/insurance" style="text-decoration: none; color:black">Go protect</a>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-tablets"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Book Medical Services</h5>
                        <p>Book any medical services required near you instantly. availabe 24x7.</p>
                    </div>
                    <a href="/medicalService" style="text-decoration: none; color:black">Book now</a>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa-solid fa-hospital"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Instant Ambulance</h5>
                        <p>Instant ambulance service and admission to your nearby hospital within 15 mins. Available 24x7.</p>
                    </div>
                    <a href="/emergency" style="text-decoration: none; color:black">Go now</a>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</section>