.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #8fbddc;
}
header{
    background-color: #cfeed1;

}

.top-bar{
    background-color: #8fbddc;
}

